
{% extends 'plataforma.html' %}

{% load static %}

{% block content %}
    
<hr>
<h2>Sesiones</h2>

<p>Sesiones sincrónicas por cada una de las 16 semanas del ciclo lectivo.</p>

<!-- Secuencia de sesiones -->
<ul class="step step-border-last-0">
    
  {% for sesion in sesiones %}
  <li class="step-item">
    <div class="step-content-wrapper">
      <span class="step-icon step-icon-soft-primary">{{ sesion.numero }}</span>
      <div class="step-content">
        <h4>{{ sesion.nombre }} <span class="badge badge-pill badge-light">Tema {{ sesion.tema }}</span></h4>
        <p class="step-text">{{ sesion.descripcion }}</p>
        <p class="step-text"><a href="clases/semana{{ sesion.numero }}" target="_blank"><i class="fas fa-external-link-alt"></i> Sesión {{ sesion.numero }}</a></p>
      </div>
    </div>
  </li>
  {% endfor %}

</ul>
<!-- Final de secuencia de sesiones -->

<!-- Programa del curso -->


{% endblock %}