{% load static %}

<section>

	<section>
		<h2>Ejercicio</h2>

				<blockquote>Un grupo poblacional recibe ayudas económicas de 1000 USD por mes, con una desviación estándar de 50 USD. Si se toma una muestra de 80
					personas. ¿Cuál es la probabilidad de que su ayuda económica supere los 1030 USD?
				</blockquote>
				Puede usar la tabla disponible en: <a href="https://www.ztable.net/">ztable.net</a>

	</section>

</section>



<section>
	

	<section>
		<img data-src="{% static 'media/12_dist_resistores.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_epsilon.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_grupos_dots.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/12_media_cero.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_medias_muestras.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_TLCconv.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_TLCmedias.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_TLCmuestra.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/12_TLCsuma.svg' %}">
	</section>

</section>
