{% load static %}

<section>

	<section>
		<h2>Ejercicio</h2>

				<blockquote>Se tiene un proceso aleatorio definido por:
				</blockquote>
				\[\begin{aligned}
					X(t) = Ae^{-t}u(t) \\ 
					
					
					\end{aligned} \]
				<blockquote>A es una variable discreta que puede asumir los valores {4, 6}:</blockquote>


	</section>

	<section>
		\[\begin{aligned}
		X(t) = Ae^{-t}u(t) \\ 	
		\end{aligned} \]
		<blockquote>La probabilidad de que A asuma un valor de 4 es 60%, la probabilidad de que sea 6 es del 40%</blockquote>
	</section>

	<section>
		<blockquote>Obtenga una expresión para la función de densidad probabilística $f(x,t)$</blockquote>
		\[\begin{aligned}
		X(t) = Ae^{-t}u(t) \\ 	
		\end{aligned} \]
		

	</section>

</section>



<section>
	

	<section>
		<img data-src="{% static 'media/13_correlaciones.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/13_dist_uniforme.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/13_proceso_aleatorio_expon_unit.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/13_proceso_aleatorio_expon.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/13_rightarrow_t_dotted.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/13_rightarrow_t.svg' %}">
	</section>

</section>
