{% load static %}

<section>

	<section>
		<h2>Ejercicio</h2>

				<blockquote>Se tiene la siguiente función de autocorrelación:
				</blockquote>
				\[\begin{aligned}
					R_{xx}(\tau) = 144 + \frac{120}{1 + \tau} + \frac{60}{1 + 2\tau}
					
					
					\end{aligned} \]
				<blockquote>¿Cuál es la varianza?</blockquote>


	</section>


</section>


<section>
	

	<section>
		<img data-src="{% static 'media/14_camino_aleatorio.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/14_funcion_del_tiempo_cualquiera.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/14_proceso_estacionario.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/14_ruido_blanco.svg' %}">
	</section>

</section>
