{% load static %}

<section>
	<section>
		<blockquote>Se tiene un proceso estacionario en sentido amplio $X(t)$, cuyo espectro de densidad de potencia viene dado por:
		</blockquote>
		\[\begin{aligned}
		S_{xx}(w)  &amp; = 10\pi \delta(w) + \frac{5}{1 + (\frac{w}{2})^2}\\
		\end{aligned} \]
		<blockquote>Calcule la potencia promedio del proceso $X(t)$</blockquote>

	</section>
</section>

<section>
	

	<section>
		<img data-src="{% static 'media/15_autocorrelacion_sin.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/15_func_muestra_x_t.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/15_Snn_w.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/15_Sxx_w.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/16_autocorrelaciones_sistema.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/16_espectro.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/16_relaciones_WSS2.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/16_sistema_LIT.svg' %}">
	</section>

</section>
