{% load static %}

<section>
	<section>
		<blockquote>Se tiene un sistema de colas M/M/s, con parámetros $\lambda = 2$, $v = 3$, $s = 1$. Encuentre el número promedio de clientes en el sistema ($L$).</blockquote>
	</section>
</section>

<section>

	<section>
		<img data-src="{% static '">
	</section>

	<section>
		<img data-src="{% static 'media/17_funcion_muestra_poisson.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/17_fZ_z.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/17_llegada_pacientes.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/17_P_k.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/17_poisson_pdf.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/17_poisson_pmf.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/17_puntos_ocurrencia.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_definiciones.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_estados_nacimiento_muerte.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_estados_zonas.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_llegada_salida.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_modelo_simplista_tiempo.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/18_teoria_colas.svg' %}">
	</section>

</section>
