{% load static %}

<section>
	<section>
		<blockquote>Un taxista en londres ofrece viajes unicamente a dos zonas; zona $A$ y zona $B$. La probabilidad de que un viaje iniciado en la zona A tenga como destino la zona B es de 30%, mientras que la probabilidad de que un viaje iniciado en B tenga destino en A es del 80%. Determmine la matriz de transición de la cadena.</blockquote>
	</section>
</section>


<section>
	

	<section>
		<img data-src="{% static 'media/19_estados_arribos_salidas.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/19_estados.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/19_flujo_entre_estados.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/19_procedimiento_est_estable.svg' %}">
	</section>

</section>
