{% load static %}

<section>
	<section>
		<blockquote>Un taxista en Londres ofrece viajes únicamente a dos zonas; zona $A$ y zona $B$. La probabilidad de que un viaje iniciado en la zona A tenga como destino la zona B es de 30%, mientras que la probabilidad de que un viaje iniciado en B tenga destino en A es del 80%. Encuentre el vector de probabilidad de estado estable.</blockquote>
	</section>
</section>


<section>
	

	<section>
		<img data-src="{% static 'media/20_cadena_markov_discreta.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/20_diagrama_saltos_0-1-2.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/20_estados_0-1-2.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/20_estados_0-1.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/20_paseo_aleatorio.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/20_vector_de_prob.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/21_diagrama_saltos_0-1-2.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/21_diagrama_saltos_0-1.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/21_diagrama_saltos_0-N.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/21_diagrama_saltos_1-4.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/21_diagrama_saltos_enteros_pos.svg' %}">
	</section>

</section>
