{% load static %}

<section>

	<section data-markdown>
		<h2>Ejercicio</h2>
		
			<textarea data-template>
				<blockquote>A lo largo de un mes se registró la cantidad de clientes que visitaban una tienda por día. La tabla muestra la proporción de días en los que visitaron
					una cantidad X de clientes. 
				</blockquote>

				|  X  |  5  |  4  |  3  |  2  |
				|:----------:|:---:|:---:|:---:|:---:|
				| Proporcion | 0.5 | 0.3 | 0.1 | 0.1 |
				<blockquote>Por ejemplo, de la tabla se observa que a lo largo de un mes el 50% de los días visitaron 5 clientes por día.</blockquote>
			</textarea>
	</section>

	<section data-markdown>
		<h2>Ejercicio</h2>
		
			<textarea data-template>
				|  X  |  5  |  4  |  3  |  2  |
				|:----------:|:---:|:---:|:---:|:---:|
				| Proporcion | 0.5 | 0.3 | 0.1 | 0.1 |
				<blockquote>Calcule la cantidad promedio de clientes por día durante ese mes.</blockquote>
			</textarea>
	</section>

	

</section>



<section>
	

	<section>
		<img data-src="{% static 'media/6_dist_dado.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/6_escala_apgar.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/6_pdf_rayleigh.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/6_pdf_simetrica.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/6_prom_corriente.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/6_prom_potencia.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/6_X_leq_b.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/7_gauss_norm.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/7_pdf_discreta.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/7_pdf_triangular.svg' %}">
	</section>

</section>
