{% load static %}

<section>

	<section>
		<h2>Ejercicio</h2>

				<blockquote>Sea X una VA continua con función de densidad dada por:
				</blockquote>
				\[\begin{aligned}
					f(x) &amp; = \frac{1}{\sqrt{2\pi}\sigma}  exp\left\{-\frac{1}{2} \left(\frac{x-\mu}{\sigma}\right)^2\right\} \\ 
					
					
					\end{aligned} \]

	</section>
	<section>
		\[\begin{aligned}
					f(x) &amp; = \frac{1}{\sqrt{2\pi}\sigma}  exp\left\{-\frac{1}{2} \left(\frac{x-\mu}{\sigma}\right)^2\right\} \\ 
					
					
					\end{aligned} \]
		<blockquote>Considere la transformación $Y = \frac{X - \mu}{\sigma}$  y calcule su función de densidad.</blockquote>
	</section>


</section>



	
<section>
	

	<section>
		<img data-src="{% static 'media/8_prom_corriente.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_prom_potencia.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_sim_corriente_transf.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/8_sim_corriente.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_sim_potencia_transf.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_sim_potencia.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_cuad_VA_normal.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_cuadratica.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_monotonica_deccreciente.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_monotonica.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_montonica.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/8_transf_no_monotonica.svg' %}">
	</section>

</section>
