{% load static %}

<section>

	<section>
		<h2>Ejercicio</h2>

		<blockquote>Se tienen dos dados de 6 lados. Suponga que al lamzar ambos dados al mismo tiempo se tiene que X es la suma de ambos dados, Y es la diferencia de ambos dados.
			Calcule la probabilidad $P(X = 5, Y = 3)$.
		</blockquote>


	</section>

</section>



	

<section>
	

	<section>
		<img data-src="{% static 'media/9_A_cap_B.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_circular.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_cuadrada.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/9_ej_func_acum_bivariada_continua.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_ej_func_acum_bivariada_discreta.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_pdf_bivariada_2.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_pdf_bivariada.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_pdfs_marginales.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_probabilidades_xy.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_puntos_xy.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_xy_3D_calor.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_xy_mapa_de_calor.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/9_xy_pdf_continua.svg' %}">
	</section>

</section>
