{% load static %}

<section>

	<section>
		<h2>Ejercicio conceptual</h2>

				<blockquote>Se desea aplicar una transformación a un conjunto de 4 variables aleatorias. ¿Cuantas funciones de transformación son necesarias?
				</blockquote>

	</section>

</section>



	

<section>
	

	<section>
		<img data-src="{% static 'media/11_deltaz_deltaw.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/11_dx_dy.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/11_matrices.svg' %}">
	</section>
	
	<section>
		<img data-src="{% static 'media/11_pdf_conjunta_vida_util_repuesto.svg' %}">
	</section>

	<section>
		<img data-src="{% static 'media/11_pdf_transformada.svg' %}">
	</section>

</section>
